
.penguin-bg{
    background-color: #fff9f4;
    margin-top: 100px;
}
.text-color{
    color: #FA804C;
}
.text-color1{
    color: #363958;
}
p{
    color: #3E3E3E;
}
.btn-btn-color{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
    border-radius: 8px;
    padding: 8px 25px;
    border: none;
}
.bg-casual-shoes{
  background-color: rgb(222, 215, 215);
}
.feature-img{
    width: 40%;
}
h4{
    color: #FA804C;
    
}
h5{
    color: #363958;
}
